.d-one {
  width: 0px !important;
  height: 0px !important;
  padding: unset;
  margin: 0 !important;
  // overflow: hidden;
}
.h-100-v {
  height: 100vh;
}
.full-height {
  height: 100%;
  max-height: 100%;
}
.full-width {
  width: 100%;
  max-width: 100%;
}
.full-size {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}
.fixed{
  position: fixed !important;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.scrollbar-dense::-webkit-scrollbar{
  width: 12px;
  background-color: grey;
}
.scrollbar-dense::-webkit-scrollbar-thumb{
  border-radius: 12px;
  background-color: black;
}

#canvasContainer::-webkit-scrollbar {
  width: auto;
}
#canvasContainer::-webkit-scrollbar-track {
  background: hsl(0, 0%, 20%);
}
#canvasContainer::-webkit-scrollbar-thumb {
  background: #616161;
}

@for $i from 1 to 101 {
  $number: percentage($i / 100);
  .h-#{$i}-p {
    height: $number !important;
  }
  .mh-#{$i}-p {
    max-height: $number !important;
  }
  .w-#{$i}-p {
    width: $number !important;
  }
  .mw-#{$i}-p {
    max-width: $number !important;
  }
}
